.dashboard {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .transactions-actions {
    display: flex;
    justify-content: space-around;
    flex: 100% 0;
    margin-bottom: 12px;
  }

  .transactions {
    flex: 100% 0;
    min-width: 0;
  }

  .accounts {
    flex: 100% 0;
    min-width: 0;
  }

  .transactions + .accounts {
    margin-top: 24px;
  }

  @media only screen and (min-width: 1600px) {
    justify-content: space-between;

    .transactions-actions {
      flex: 50% 0;
    }

    .transactions {
      flex: 58% 0;
    }

    .accounts {
      flex: 40% 0;
    }

    .transactions + .accounts {
      margin-top: 0;
    }
  }
}
