/** Fonts **/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

html {
  font-smoothing: antialiased;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ebf2f5;
  height: 100%;
  margin: 0;
}

body,
div {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  color: #004c75;
  font-size: 14px;
  font-weight: 400;
}

button {
  border-width: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: transparent;
  line-height: 1rem;
  color: #333238;
  fill: currentColor;
  box-shadow: inset 0 0 0 1px #bfbfc3;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}
