:host {
  h3 {
    margin-bottom: 16px;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      align-self: center;
    }
  }

  .actions {
    button + button {
      margin-left: 24px;
    }
  }

  ::ng-deep {
    mat-form-field {
      background-color: transparent !important;

      .mat-mdc-text-field-wrapper {
        background-color: transparent !important;
      }
    }
  }
}
